// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  background-color: #00FF96;
  height: 25px;
  padding: 10px 15px;
  width: 200px;
  text-align: center;
  color: #A330C9;
  font-weight: bold;
  border-radius: 8px;
}